<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "catalyst_count_app/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "catalyst_count_app/css/custom.css" %}">
   
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="container-fluid">
      

{% block content %}

{% endblock content %}

    </div>

      <script src="{% static "catalyst_count_app/js/bootstrap.js" %}"></script>
      <script src="{% static "catalyst_count_app/js/jquery.js" %}"></script>
      <script src="{% static "catalyst_count_app/js/custom.js" %}"></script>
      
</body>
</html>